@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;

  .v-verticallayout {
    .v-button, .v-datefield, .v-select, input, select, textarea  {
      width: 100%;
    }
    .link {
      width: auto;
    }
    .v-icon {
      font-size: 40px;
    }
    .custom-heading h1 {
      font-size: 60px;
    }
    .v-caption-custom-paragraph {
      display: inline-block;
      margin-right: 20px;
    }
    .custom-paragraph p {
      display: inline-block;
    }
  }
}
